body {
     background-color: #949ca6;
     font-family:Arial, Helvetica, sans-serif;
 }

 em{
    color: rgb(96,29,46)
 }

 em{
    font-style: normal;
 }
 #title-color{
   color: navy;
 }

button[type="submit"]{
   color: maroon;
}

.floatleft{
   float: left;
   margin-right: 40px;
   margin-bottom: 10px;
}

section::after{
  content: "";
  display: block;
  clear: both;
}

.box{
   border: 10px ridge rgb(0, 0, 88);
   padding: 2px;
}
