body {
     background-color: #949ca6;
     font-family:Arial, Helvetica, sans-serif;
 }

 em{
    color: rgb(103, 39, 103)
 }

 em{
    font-style: normal;
 }
 #title-color{
   color: navy;
 }

button[type="submit"]{
   color: maroon;
}

.floatleft{
   float: left;
   margin-right: 40px;
   margin-bottom: 10px;
   margin-left: 8px;
}

section::after{
  content: "";
  display: block;
  clear: both;
}

.box{
   border: 8px ridge rgb(0, 0, 88);
   padding: 2px;
}

#About{
   background-color: rgb(137, 183, 198);
   display: inline;
}

#space{
   margin-left: 8px;
}